extends pug/helpers/_pageStructore

//-
  =======================================================
  In this a block for including page or anythings
  =======================================================
block includes
  //- include pug/helpers/_helpers

//-
  =======================================================
  In this a block we can create a variables for this page
  =======================================================
block variables
  - var Title = "الموعظة";
//-
  =======================================================
  In this a block for add CSS file for this page
  =======================================================
block stylesheet
  title #{Title}
  //- Add a logo icon for title bar
  link(rel="shortcut icon", href="imgs/logo.png", type="image/x-icon")
  //- Normalize Library
  link(rel="stylesheet", href="css/normalize.css")
  //- Thuluth Font
  link(rel="stylesheet", href="https://www.fontstatic.com/f=thuluth-decorated")
  //- Cairo Font
  link(rel="stylesheet", href="https://www.fontstatic.com/f=cairo-bold")
  //- Fontawesome Library
  link(rel="stylesheet", href="css/all.min.css")
  //- Bondi Style File
  link(rel="stylesheet", href="css/main.css")


//-
  ====================================================================================================================
                                              In this a block for page content
  ====================================================================================================================
block content 
  //- ***************************************** Start Nav *****************************************
  nav.navbar
    .container
      .logo الموعظة
      ul.list-unstyled 
        li.active(data-section="header")  الصفحة الرئيسية
        li(data-section="#hadith") الأحاديث
        li(data-section="#lecteurs") محاضـرات
        li(data-section="header") القرآن الكريم
        li(data-section="header") أوقات الصلاة
        li(data-section="header") تواصل معنـا
      .menu-bars
        i.fas.fa-bars
  //- ***************************************** End Nav *****************************************

  //- ***************************************** Start Header *****************************************
  header 
    .container 
      .title 
        h1
          | مرحبـا بـك فــي
          br
          | موقـع المـوعظـة الإسلامــي
        button.btn 
          | إبـدأ التصفـح
          i.fa-solid.fa-chevron-left
  //- ***************************************** End Header *****************************************

  //- ***************************************** Start Hadith *****************************************
  section#hadith.hadith 
    .container  
        h2.main-title أحــاديــث
        .hadithContainer
          
        .buttons 
          .prev السـابـق 
          .numbers
          .next التالـي
  //- ***************************************** End Hadith *****************************************

  //- ***************************************** Start Lecteurs *****************************************
  section#lecteurs.lecteurs
    .container 
      h2.main-title محـاضـرات
      .lecteur-container 
        .content
          //- Lecteur Box
          .lec
            .lec-text 
              h4 قصة ذي القرنيين
              p محاضرة رائـعة من تقديم الدكتور مبـروك زيـد الخيـر
            img(src="imgs/sha.jpg", alt="مبروك زيد الخير")
          //- Lecteur Box
          .lec
            .lec-text 
              h4 قصة ذي القرنيين
              p محاضرة رائـعة من تقديم الدكتور مبـروك زيـد الخيـر
            img(src="imgs/sha.jpg", alt="مبروك زيد الخير")
          //- Lecteur Box
          .lec
            .lec-text 
              h4 قصة ذي القرنيين
              p محاضرة رائـعة من تقديم الدكتور مبـروك زيـد الخيـر
            img(src="imgs/sha.jpg", alt="مبروك زيد الخير")
          //- Lecteur Box
          .lec
            .lec-text 
              h4 قصة ذي القرنيين
              p محاضرة رائـعة من تقديم الدكتور مبـروك زيـد الخيـر
            img(src="imgs/sha.jpg", alt="مبروك زيد الخير")
          //- Lecteur Box
          .lec
            .lec-text 
              h4 قصة ذي القرنيين
              p محاضرة رائـعة من تقديم الدكتور مبـروك زيـد الخيـر
            img(src="imgs/sha.jpg", alt="مبروك زيد الخير")
        //--- Video Box
        .video
          iframe(src="https://www.youtube.com/embed/DzIC8GV4M3M", frameborder="0")
          p فوائد السفر الدكتور مبروك زيد الخير

  //- ***************************************** End Lecteurs *****************************************

  //- ***************************************** Start  *****************************************
  //- ***************************************** End  *****************************************
  

//-
  ====================================================================================================================
  In this a block for add Js file for this page
  ====================================================================================================================
block script
  //- Fontawesome Library
  script(src="script/all.min.js") 
  //- Main Javascript File
  script(src="script/script-min.js") 