// ====================================== Start Global Rules ======================================
//-------- Variables
$white: white;
$main-color: #43a047;
$dark: #323232;
$box-shadow: 0 0 5px rgba(76, 175, 88, .4);

* { box-sizing: border-box; outline: none }
::-webkit-scrollbar { width: 0 }
body {
  font-family: "cairo-bold";
  direction: rtl;
  scroll-behavior: smooth;
}
.container {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative
}
section {
  padding: 70px 0;
}
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-title {
  font-size: 2rem;
  text-align: center;
  color: $main-color;
  margin: 50px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $main-color;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    bottom: -8px;
  }
  &::after {
    width: 50px;
    bottom: -15px ;
  }
}
// ====================================== End Global Rules ======================================

// ====================================== Start nav ======================================
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: .5s ease-in-out;

  //--- Container
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    color: $white;
    transition: .5s all ease-in-out;
  }
  &.active {
    background-color: transparentize($dark, .4);
    .container {
      height: 60px;
    }
  }

  //--- Logo
  .logo {
    font-family: "thuluth-decorated";
    font-size: 2.5rem;
    cursor: pointer;
  }

  //--- Links
  ul {
    display: flex;
    li {
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        right: 0;
        background-color: $white;
        width: 0;
        height: 2px;
        transition: .3s ease-in-out
      }
      &.active::after, &:hover::after {
        width: 100%;
      }
      &:not(:last-of-type), &:not(:first-of-type) {
        margin: 0 15px;
      }
    }
  }

  //--- Menu Bars
  .menu-bars {
    display: none;
  }
}
// ====================================== End nav ======================================

// ====================================== Start Header ======================================
header {
  background: url(../imgs/1.jpg) center center / cover no-repeat;
  position: relative;
  //---Overlay
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparentize($dark, 0.7);
  }

  //- Container
  .container {
    min-height: 100vh;

    //--- Title
    .title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $white;

      //--- Main Heading
      h1 {
        line-height: 1.9;
        font-size: 40px;
        margin-bottom: 30px;
      }

      //--- Button
      .btn {
        padding: 10px 25px;
        border: 2px solid $white;
        background-color: transparent;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 400;
        color: inherit;
        display: flex;
        align-items: center;
        position: relative;
        transition: .3s ease-in-out;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 0;
          height: 100%;
          z-index: -1;
          background-color: $white;
          transition: .3s ease-in-out;
        }
        &:hover {
          color: $dark;
          &::after {
            width: 100%;
          }
        }
        //--- Icon
        svg {
          margin-right: 10px;
        }
      }
    }
  }
}
// ====================================== End Header ======================================

// ====================================== Start Hadith ======================================
.hadith {
  //--- Hadit container
  .hadithContainer {
    min-height: 350px;
    box-shadow: 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #d1d9e6 inset;
    color: $dark;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    line-height: 1.9;
  }

  //--- Buttons
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    div {
      background: linear-gradient(60deg, #66bb6a, #43a047);
      box-shadow: 0 4px 20px 0 transparentize($dark, 0.86), 0 7px 10px -5px rgba(76, 175, 88, .4);
      color: $white;
      padding: 10px 20px;
      cursor: pointer;
    }
    .numbers {
      padding: 10px 20px;
      color: $main-color;
      background: transparent;
      box-shadow: 0 4px 20px 0 transparentize($dark, 0.86), 0 7px 10px -5px rgba(76, 175, 88, .4);
    }
  }
}
// ====================================== End Hadith ======================================

// ====================================== Start Lecteurs ======================================
.lecteurs {
  .lecteur-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .content, .video {
      width: 48%;
    }
    //--- Content 
    .content {
      .lec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        box-shadow: 0 0 5px transparentize($dark, 0.6);
        padding: 20px;
        transition: .5 ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(.95);
        }

        //--- Text
        .lec-text {
          width: calc(100% - 150px);
          color: $dark;
          h4 {
            font-size: 1.5rem;
          }
          p { font-size: 1.2rem; color: #999; }
        }
        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          margin-right: auto;
          object-fit: cover;
        }
      }
    }
    //--- Video
    .video {
      position: sticky;
      top: 0;
      iframe {
        width: 100%;
        height: 400px;
        border-radius: 6px;
      }
      p {
        padding-right: 10px;
        font-size: 1rem;
      }
    }
  }
}
// ====================================== End Lecteurs ======================================

// ====================================== Start Quran ======================================
.quran {
  //--- Surah Container
  .surahs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    //--- Surah Box
    .surah {
      max-height: 100px;
      min-width: 150px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .4);
      margin-bottom: 10px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: .3s ease-in-out;
      color: $dark;
      font-size: 1.2rem;
      &:hover {
        transform: scale(1.05);
        font-weight: bold;
        box-shadow: 0 0 5px transparentize($main-color, .5);
      }
      p {
        margin: 5px;
        font-family: "arial";
      }
    }
  }
}
// ====================================== End Quran ======================================

// ====================================== Start Popup ======================================
.surahs-popup {
  position: fixed;
  inset: 0;
  background-color: $white;
  z-index: 2;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: .5s ease-in-out;
  
  &.active {
    transform: translateX(0);
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb { 
    background-color: $main-color;
    border-radius: 2px;
  }

  //--- Close popup
  .close-popup {
    position: sticky;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $dark;
    cursor: pointer;
  }

  //--- Ayat container
  .ayats {
    padding: 20px;
    width: calc(100% - 40px);
    margin-right: 40px;
    margin-top: 20px;
    color: $dark;
    text-align: center;
    p {
      border-bottom: 2px solid $main-color;
      line-height: 2;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
// ====================================== End Popup ======================================

